<!DOCTYPE html>
<html>
	<head>
		<title>Clean Blog - Ahok Bakal Cabut Videotron di Jakarta</title>
		<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/local.css" rel="stylesheet">
	</head>
	<body>
<header class="header header-default">
	<div class="navbar navbar-default">
		<div class="container">
			<a href="#" class="navbar-brand">
				clean-blog.com
			</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="blogpost">Blogposts</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="dashboard">Dashboard</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-12">
				<div class="jumbotron center-block" style="
				margin:0;
				background: url(img/ahok.jpg) 0 0/100% 100% no-repeat;
				display: block;">
					<h1 style="color:#fff;margin:0;">
						Ahok Bakal Cabut Videotron di Jakarta
					</h1>
				</div>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<div class="col-sm-8">
			<div id="writer">
				<strong>Written by</strong> <em><a href"#">indro_dki</a></em>  
			</div>
			<div id="content">
				<p><strong>Jakarta, CNN Indonesia</strong> -- Gubernur DKI Jakarta Basuki Tjahaja Purnama akan mencabut semua videotron yang ada di Jakarta. Hal tersebut disampaikan pria yang akrab disapa Ahok itu di markas Teman Ahok, Jakarta, Sabtu (1/10).</p>
				<p>"Kalau videotron itu di tempat-tempat kami semua akan kami cabut. Pokoknya saya tidak mau di jalan ada lagi yang namanya videotron," kata Ahok.</p>

				<p>Keberadaan videotron sendiri menjadi sorotan setelah salah satunya tertangkap kamera masyarakat menampilkan video porno, sehari sebelumnya.</p>

				<p>Sebagai gantinya, iklan-iklan multimedia akan ditayangkan di layar LED yang menempel pada gedung. "Jadi tidak boleh ada lagi berbentuk billboard (papan iklan). Karena itu bahaya, kalau ada angin kencang itu bahaya," ujarnya.</p>

				<p>Saat ini, kata Ahok, proses pencabutan sudah mulai dijalankan. Namun, untuk realisasinya sendiri, masih harus melihat setoran pajaknya pada pemerintah.</p>

				<p>"Kalau pajaknya terlanjur masuk kita akan tunggu. Tapi kalau sudah tidak ada, izinnya tidak jelas, cabut," kata Ahok.</p>

				<p>Berdasarkan data Pemerintah Provinsi DKI Jakarat, terdapat 58 titik LED yang tersebar di wilayah Jakarta Selatan dengan luas monitor yang beragam.</p>

				<p>Penyelenggaraan reklame diatur dalam Pasal 4 Peraturan Gubernur 244 Tahun 2015 tentang Petunjuk Pelaksanaan Penyelenggaraan Reklame. Pasal itu menjelaskan setiap penyelenggaraan reklame harus mematuhi ketentuan norma etika, estetika, keagamaan, keindahan, kesopanan, ketertiban umum, kesehatan, kesusilaan, keamanan dan lingkungan.</p>

				<p>LED berukuran 24 meter persegi yang menayangkan konten porno itu milik PT Matapena Komunika Advertama yang mensubkontrakkan isi kontennya kepada PT Transito Adiman Jati Transito Advertising. Perusahaan itu beralamat di Gedung Kompas Gramedia di Jalan Palmerah.</p>

				<p>Tayangan porno di videotron sontak ramai di media sosial karena banyak pengguna jalan yang melihatnya. Dokumentasi berupa foto maupun video menyebar ke mana-mana.</p>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div id="comment">
				<strong>Most Commented Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="ahok.html">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="jalanan.html">Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami</a></li>
					<li><a href="sri.html">Sri Mulyani Ingin Tax Amnesty Ubah Citra Ditjen Pajak</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="view">
				<strong>Most Viewed Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="ahok.html">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="gojek.html">Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan</a></li>
					<li><a href="saling.html">Saling Lontar 'Serangan Udara' Para Bakal Calon Gubernur DKI</a></li>
				</ul>
			</div>
		</div>
		<hr/>
	</div>
</section>

<section class="comment-section">
	<div class="container">
		<div class="col-sm-8">
			<form>
				<div class="form-group">
				  <label for="input_comment">Write a comment</label>
				  <input type="text" class="form-control" placeholder="Your comment here.." id="input_comment">
				</div>
				<div class="input-group">
					<button class="btn btn-default" aria-describedby="basic-addon1">Add a comment</button>
				</div>
			</form>
		</div>
		<div class="col-sm-8">
		<div class="comment">
		  <div class="commentator">
			sofyanto
			</div>
			<p>kasus videotron porno memang cukup menggemparkan ibukota dan disinyalir ada oknum pihak nakal yang melakukannya. Saya pikir kalau sampai harus di cabut ijinnya, pemda DKI bakal kehilangan pendapatannya. Saya yakin juga itu bukan faktor disengaja dari pihak pemilik videotron tersebut, maka surat peringatan mungkin adalah solusi terbaik yang bisa dipilih</p>
		</div>
		<div class="comment">
		<div class="commentator">jmanuputty2015</div>
		<p>Setuju Opa Ahok, apa yg dolakukan klo punya dampak negatif cpt2 disingkirkan. prinsipx : apa yg baik utk rky jkt itu yg dipertahankan, yg buruk musnahkan saja!!!</p>
		</div>
	</div>
</section>

<footer class="footer">
  <div class="container">
  	<div class="col-sm-12">
    	<address>
      	<strong>CLEAN BLOG <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
        Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
        (123) 456-7890 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
        <a href="mailto:#">clean-blog@clean-blog.com </a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    	</address>
  	</div>
	</div>
</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>