<!DOCTYPE html>
<html>
	<head>
		<title>Clean Blog - Contact</title>
	</head>
	<body>
<header class="header header-default">
	<div class="navbar navbar-default">
		<div class="container">
			<a href="#" class="navbar-brand">
				clean-blog.com
			</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="/blogpost">Blogposts</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/dashboard">Dashboard</a></li>
			</ul>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<div class="col-sm-2">
			<ul class="nav nav-stacked"  id="tabs" role="tablist">
				<li role="presentation"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
				<li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
				<li role="presentation"><a href="#blogs" aria-controls="blogs" role="tab" data-toggle="tab">Blogs</a></li>
				<li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
			</ul>
		</div>
		<div class="col-sm-10">
			<div class="tab-content" id="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="dashboard">
		    	<ol class="breadcrumb  img-rounded" style="background-color: #e6e9ed;">
						<li><a href="#">Dashboard</a></li>
						<li class="active">Home</li>
					</ol>
		    	<h2>Most Active Users</h2>
		    	<table width="100%" class="table table-default">
		    		<thead>
		    			<tr>
		    				<th>Username</th>
		    				<th>Email</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>
		    					kucing_tetangga
		    				</td>
		    				<td>
		    					kucing@tetangga.ga.co
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					kasino_dki
		    				</td>
		    				<td>
		    					kas@dki.ga.com
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					indro_dki
		    				</td>
		    				<td>
		    					indro@dki.ga.com
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>

		    	<h2>Most Viewed Blogs</h2>
		    	<table width="100%" class="table table-default">
		    		<thead>
		    			<tr>
		    				<th>Title</th>
		    				<th>Posted by</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>
		    					Ahok Bakal Cabut Videotron di Jakarta
		    				</td>
		    				<td>
		    					indro_dki
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan
		    				</td>
		    				<td>
		    					kasino_dki
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					Sri Mulyani Ingin Tax Amnesty Ubah Citra Ditjen Pajak
		    				</td>
		    				<td>
		    					kucing_tetangga
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>

		    </div>
		    <div role="tabpanel" class="tab-pane" id="users">
		    	<ol class="breadcrumb img-rounded" style="background-color: #e6e9ed;">
						<li><a href="#">Dashboard</a></li>
						<li class="active">Users</li>
					</ol>
		    	<h2>Table of Users</h2>
		    	<table width="100%" class="table table-default">
		    		<thead>
		    			<tr>
		    				<th>Username</th>
		    				<th>Email</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>
		    					indro_dki
		    				</td>
		    				<td>
		    					indro@dki.ga.com
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					kasino_dki
		    				</td>
		    				<td>
		    					kas@dki.ga.com
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					kucing_tetangga
		    				</td>
		    				<td>
		    					kucing@tetangga.ga.co
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					kambing
		    				</td>
		    				<td>
		    					kambing@tetangga.ga.co
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="blogs">
		    	<ol class="breadcrumb img-rounded" style="background-color: #e6e9ed;">
						<li><a href="#">Dashboard</a></li>
						<li class="active">Blogs</li>
					</ol>
		    	<h2>Table of Blogs</h2>
		    	<table width="100%" class="table table-default">
		    		<thead>
		    			<tr>
		    				<th>Title</th>
		    				<th>Posted by</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>
		    					Ahok Bakal Cabut Videotron di Jakarta
		    				</td>
		    				<td>
		    					indro_dki
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan
		    				</td>
		    				<td>
		    					kasino_dki
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					Sri Mulyani Ingin Tax Amnesty Ubah Citra Ditjen Pajak
		    				</td>
		    				<td>
		    					kucing_tetangga
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="comments">
		    	<ol class="breadcrumb img-rounded" style="background-color: #e6e9ed;">
						<li><a href="#">Dashboard</a></li>
						<li class="active">Comments</li>
					</ol>
		    	<h2>Table of Comments</h2>
			    <table width="100%" class="table table-default">
		    		<thead>
		    			<tr>
		    				<th>Title</th>
		    				<th>Comment</th>
		    				<th>Posted by</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>
		    					Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami
		    				</td>
		    				<td>
		    					Pertamax gan!
		    				</td>
		    				<td>
		    					kasino_dki
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami
		    				</td>
		    				<td>
		    					KEDUAX!
		    				</td>
		    				<td>
		    					indro_dki
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					Ahok Bakal Cabut Videotron di Jakarta
		    				</td>
		    				<td>
		    					kasus videotron porno memang cukup menggemparkan ibukota dan disinyalir ada oknum pihak nakal yang melakukannya. Saya pikir kalau sampai harus di cabut ijinnya, pemda DKI bakal kehilangan pendapatannya. Saya yakin juga itu bukan faktor disengaja dari pihak pemilik videotron tersebut, maka surat peringatan mungkin adalah solusi terbaik yang bisa dipilih
		    				</td>
		    				<td>
		    					sofyanto
		    				</td>
		    			</tr>
		    		</tbody>
			    </table>
		    </div>
		  </div>
		</div>
	</div>
</section>


<footer class="footer" style="position: fixed;">
  <div class="container">
  	<div class="col-sm-12">
    	<address>
      	<strong>CLEAN BLOG <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
        Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
        (123) 456-7890 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
        <a href="mailto:#">clean-blog@clean-blog.com </a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    	</address>
  	</div>
	</div>
</footer>
		
	</body>
</html>