<!DOCTYPE html>
<html>
	<head>
		<title>Clean Blog - Demi Penghematan, Arab Saudi Pakai Kalender Masehi</title>
		<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/local.css" rel="stylesheet">
	</head>
	<body>
<header class="header header-default">
	<div class="navbar navbar-default">
		<div class="container">
			<a href="#" class="navbar-brand">
				clean-blog.com
			</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="blogpost">Blogposts</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="dashboard">Dashboard</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-12">
				<div class="jumbotron center-block" style="
				margin:0;
				background: url(img/demi.jpg) 0 0/100% 100% no-repeat;
				display: block;">
					<h1 style="color:#fff;margin:0;">
						Demi Penghematan, Arab Saudi Pakai Kalender Masehi
					</h1>
				</div>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<div class="col-sm-8">
			<div id="writer">
				<strong>Written by</strong> <em><a href"#">kucing_tetangga</a></em>  
			</div>
			<div id="content">
				<p><strong>Jakarta, CNN Indonesia</strong> -- Pemerintah Arab Saudi menerapkan sistem kalender Gregorian atau Masehi dalam pembayaran gaji pegawai negeri. Perubahan dari kalender Hijriah ke Masehi ini berlaku sejak Sabtu (1/10). </p>

				<p>Dilansir dari Gulfnews yang mengutip situs berita Sabq, dengan pengadopsian sistem kalender Masehi ini, sistem penggajian pegawai negeri pun jadi sama dengan kebanyakan sistem penggajian di sektor swasta. Model penggajian ini membuat pegawai negeri kehilangan 11 hari kerja oleh sebab perbedaan jumlah hari antara kalender Hijriah dan Masehi.</p>

				<p>Perubahan ini adalah bagian dari sejumlah keputusan pemerintah yang bertalian dengan upaya penghematan keuangan. Pada pekan lalu pemerintah melakukan rapat kabinet yang dipimpin oleh Raja Salman bin Abdulaziz. Dalam rapat itu, kabinet memutuskan untuk menghemat sejumlah pengeluaran di sektor pelayanan publik. Termasuk di dalamnya, memotong gaji menteri sebesar 20 persen dan 15 persen gaji Dewan Syuro.</p>

				<p>Bonus tahunan pada Tahun Baru Hijriah, yang jatuh mulai 2 Oktober, juga ditiadakan. Begitu juga pembaruan atau perpanjangan kontrak kerja tidak akan ada kenaikan gaji.</p>

				<p>Pemerintah menambahkan, pemberian bonus, tunjangan, atau pembatalan, pengubahan, dan penangguhan fasilitas keuangan, kepada pegawai negeri, akan disesuaikan dengan kategorisasi mereka. Cuti tahunan bagi para menteri juga dikurangi, dari 42 hari menjadi 36 hari. </p>

				<p>Di bawah aturan baru ini, pegawai negeri tidak akan menerima tunjangan transport selama libur dan bila tak menggunakan 60 hari dayoff selama tahun berjalan, dayoff itu akan hangus.</p>

				<p>Itu diberlakukan bagi semua pegawai negeri, berdasarkan kewarganegaraannya. Termasuk militer. </p>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="comment">
				<strong>Most Commented Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="/ahok">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="/jalanan">Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami</a></li>
					<li><a href="/sri">Sri Mulyani Ingin Tax Amnesty Ubah Citra Ditjen Pajak</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="view">
				<strong>Most Viewed Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="/ahok">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="/gojek">Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan</a></li>
					<li><a href="/saling">Saling Lontar 'Serangan Udara' Para Bakal Calon Gubernur DKI</a></li>
				</ul>
			</div>
		</div>
		<hr/>
	</div>
</section>

<section class="comment-section">
	<div class="container">
		<div class="col-sm-8">
			<form>
				<div class="form-group">
				  <label for="input_comment">Write a comment</label>
				  <input type="text" class="form-control" placeholder="Your comment here.." id="input_comment">
				</div>
				<div class="input-group">
					<button class="btn btn-default" aria-describedby="basic-addon1">Add a comment</button>
				</div>
			</form>
		</div>
		<div class="col-sm-8">
		<div class="comment">
		  <div class="commentator">
			kucing_tetangga
			</div>
			<p>pertamax diamankan!</p>
		</div>
		<div class="comment">
		<div class="commentator">indro_dki</div>
		<p>gagal pertamax gan!</p>
		</div>
	</div>
</section>

<footer class="footer">
  <div class="container">
  	<div class="col-sm-12">
    	<address>
      	<strong>CLEAN BLOG <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
        Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
        (123) 456-7890 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
        <a href="mailto:#">clean-blog@clean-blog.com </a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    	</address>
  	</div>
	</div>
</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
