<!DOCTYPE html>
<html>
	<head>
		<title>Clean Blog - Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan</title>
		<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/local.css" rel="stylesheet">
	</head>
	<body>
<header class="header header-default">
	<div class="navbar navbar-default">
		<div class="container">
			<a href="#" class="navbar-brand">
				clean-blog.com
			</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="blogpost">Blogposts</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="dashboard">Dashboard</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-12">
				<div class="jumbotron center-block" style="
				margin:0;
				background: url(<%= asset_path 'img/gojek.jpg' %>) 0 0/100% 100% no-repeat;
				display: block;">
					<h1 style="color:#fff;margin:0;">
						Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan
					</h1>
				</div>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<div class="col-sm-8">
			<div id="writer">
				<strong>Written by</strong> <em><a href"#">kasino_dki</a></em>  
			</div>
			<div id="content">
				<p>Jakarta, CNN Indonesia -- Para mitra pengemudi Gojek berencana melakukan demonstrasi di kantor pusat Gojek di Jakarta hari ini, Senin (3/10).</p>

				<p>Dari pernyataan yang diterima CNNIndonesia.com, demonstrasi tersebut akan berlangsung pada pukul 11.00 WIB di depan kantor perusahaan yang bersemayam di Kemang, Jakarta Selatan.</p>

				<p>Dinyatakan alasan demo ini disebabkan oleh perusahaan yang dinilai "tidak responsif terhadap segala keluhan para mitranya dan sistem kebijakan yang memberatkan dan memberatkan mitra."</p>

				<p>Sementara dari sumber terdekat, demonstrasi serupa juga bakal dilangsungkan di kantor Gojek di Makassar dan Bandung. </p>

				<p>Akibat dari aksi demo ini, menurut sumber, pihak manajemen menghimbau para karyawan agar bekerja dari rumah per hari ini. Sayangnya belum ada informasi lebih lanjut mengenai jumlah mitra pengemudi yang ikut serta dalam aksi demo tersebut.</p>

				<p>Dari pantauan CNNIndonesia.com, pengguna bisa sangat mudah memesan layanan Go-Ride dan Go-Send di wilayah Tangerang Selatan. </p>

				<p>Namun pagi tadi sekitar pukul 8.00 WIB pengguna kesulitan mendapat pengemudi untuk layanan Go-Send dari Ciputat menuju Jakarta.</p>

				<p>"Sudah setengah jam lebih saya menunggu, belum dapat juga," ujar seorang pengguna bernama Syathori melalui pesan teks.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="comment">
				<strong>Most Commented Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="/ahok">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="/jalanan">Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami</a></li>
					<li><a href="/sri">Sri Mulyani Ingin Tax Amnesty Ubah Citra Ditjen Pajak</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="view">
				<strong>Most Viewed Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="/ahok">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="/gojek">Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan</a></li>
					<li><a href="/saling">Saling Lontar 'Serangan Udara' Para Bakal Calon Gubernur DKI</a></li>
				</ul>
			</div>
		</div>
		<hr/>
	</div>
</section>

<section class="comment-section">
	<div class="container">
		<div class="col-sm-8">
			<form>
				<div class="form-group">
				  <label for="input_comment">Write a comment</label>
				  <input type="text" class="form-control" placeholder="Your comment here.." id="input_comment">
				</div>
				<div class="input-group">
					<button class="btn btn-default" aria-describedby="basic-addon1">Add a comment</button>
				</div>
			</form>
		</div>
		<div class="col-sm-8">
		<div class="comment">
			<div class="commentator">macan2321_masacih</div>
			<p>jadi ga bisa pake gojek nih</p>
		</div>
	</div>
</section>

<footer class="footer">
  <div class="container">
  	<div class="col-sm-12">
    	<address>
      	<strong>CLEAN BLOG <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
        Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
        (123) 456-7890 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
        <a href="mailto:#">clean-blog@clean-blog.com </a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    	</address>
  	</div>
	</div>
</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>