<!DOCTYPE html>
<html>
	<head>
		<title>Clean Blog - Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami</title>
		<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/local.css" rel="stylesheet">
	</head>
	<body>
<header class="header header-default">
	<div class="navbar navbar-default">
		<div class="container">
			<a href="#" class="navbar-brand">
				clean-blog.com
			</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="\blogpost">Blogposts</a></li>
				<li><a href="\contact">Contact</a></li>
				<li><a href="\dashboard">Dashboard</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-12">
				<div class="jumbotron center-block" style="
				margin:0;
				background: url(img/jalanan.jpg) 0 0/100% 100% no-repeat;
				display: block;">
					<h1 style="color:#fff;margin:0;">
						Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami
					</h1>
				</div>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<div class="col-sm-8">
			<div id="writer">
				<strong>Written by</strong> <em><a href"#">kasino_dki</a></em>  
			</div>
			<div id="content">
				<p><strong>Jakarta, CNN Indonesia</strong> Titik transportasi umum seperti stasiun yang biasanya dipadati 'pasukan' Gojek, hari ini, Senin (3/10) menjadi sepi lantaran mitra pengemudi kompak melakukan demonstrasi. Hal ini membuat pengemudi ojek online lain seperti GrabBike merasa diuntungkan.</p>

				<p>Demonstrasi yang dilakukan para mitra pengemudi Gojek ke kantor pusat perusahaan yang berada di kawasan Kemang, Jakarta Selatan, Senin (3/10) membuat area di sekitar sejumlah stasiun sepi armada.</p>

				<p>Biasanya, Stasiun Rawa Buntu yang terletak di Tangerang Selatan dipadati oleh pengemudi Gojek yang mangkal di luar stasiun.</p>

				<p>Namun pagi tadi sekitar pukul 9.30 hingga 10.30 WIB, dari pantauan CNNIndonesia.com area yang biasa dipenuhi pengemudi Gojek terbilang sepi, yang terlihat hanya dua mitra pengemudi Grab.</p>
				<p>Sementara Stasiun Palmerah yang menjadi kawasan banjir ojek online, hanya dipenuhi oleh pengemudi Grab.</p>

				<p>"Saya dari pagi di sini, sejak pukul 5.30 WIB, enggak ada sama sekali driver Gojek. Mereka kompak demo," kata salah seorang pengemudi GrabBike bernama Rizki saat berbincang dengan CNNIndonesia.com di samping Stasiun Palmerah, Senin (3/10).</p>

				<p>Ia melanjutkan, "hanya kami-kami saja yang ada di sini. Sepi Gojek, tapi rejeki buat kami karena banjir order."</p>

				<p>Sekadar diketahui, dari pernyataan resmi yang diterima CNNIndonesia.com alasan demo ini disebabkan oleh perusahaan yang dinilai "tidak responsif terhadap segala keluhan para mitranya dan sistem kebijakan yang memberatkan dan memberatkan mitra."</p>

				<p>Akibat dari aksi demo ini, menurut sumber, pihak manajemen menghimbau para karyawan agar bekerja dari rumah per hari ini. Sayangnya belum ada informasi lebih lanjut mengenai jumlah mitra pengemudi yang ikut serta dalam aksi demo tersebut.</p>

				<p>Demo Gojek akan berlangsung pada pukul 11.00 WIB di depan kantor perusahaan yang bersemayam di Kemang, Jakarta Selatan. Kabarnya, aksi ini bakal memicu kemacetan di sejumlah ruas jalan kawasan Jakarta Selatan dan sekitarnya.</p>

			</div>
		</div>
		<div class="col-sm-4">
			<div id="comment">
				<strong>Most Commented Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="\ahok">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="\jalanan">Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami</a></li>
					<li><a href="\sri.html">Sri Mulyani Ingin Tax Amnesty Ubah Citra Ditjen Pajak</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="view">
				<strong>Most Viewed Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="\ahok">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="\gojek">Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan</a></li>
					<li><a href="\saling">Saling Lontar 'Serangan Udara' Para Bakal Calon Gubernur DKI</a></li>
				</ul>
			</div>
		</div>
		<hr/>
	</div>
</section>

<section class="comment-section">
	<div class="container">
		<div class="col-sm-8">
			<form>
				<div class="form-group">
				  <label for="input_comment">Write a comment</label>
				  <input type="text" class="form-control" placeholder="Your comment here.." id="input_comment">
				</div>
				<div class="input-group">
					<button class="btn btn-default" aria-describedby="basic-addon1">Add a comment</button>
				</div>
			</form>
		</div>
		<div class="col-sm-8">
		<div class="comment">
		  <div class="commentator">
			kasino_dki
			</div>
			<p>Pertamax gan!</p>
		</div>
		<div class="comment">
		<div class="commentator">indro_dki</div>
		<p>KEDUAX!</p>
		</div>
	</div>
</section>

<footer class="footer">
  <div class="container">
  	<div class="col-sm-12">
    	<address>
      	<strong>CLEAN BLOG <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
        Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
        (123) 456-7890 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
        <a href="mailto:#">clean-blog@clean-blog.com </a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    	</address>
  	</div>
	</div>
</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>