<!DOCTYPE html>
<html>
	<head>
		<title>Clean Blog - Saling Lontar 'Serangan Udara' Para Bakal Calon Gubernur DKI</title>
		<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/local.css" rel="stylesheet">
	</head>
	<body>
<header class="header header-default">
	<div class="navbar navbar-default">
		<div class="container">
			<a href="#" class="navbar-brand">
				clean-blog.com
			</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="blogpost">Blogposts</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="dashboard">Dashboard</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-12">
				<div class="jumbotron center-block" style="
				margin:0;
				background: url(img/saling.jpg) 0 0/100% 100% no-repeat;
				display: block;">
					<h1 style="color:#fff;margin:0;">
						Saling Lontar 'Serangan Udara' Para Bakal Calon Gubernur DKI
					</h1>
				</div>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<div class="col-sm-8">
			<div id="writer">
				<strong>Written by</strong> <em><a href"#">kucing_tetangga</a></em>  
			</div>
			<div id="content">
				<p><strong>Jakarta, CNN Indonesia</strong> -- Menteri Keuangan Sri Mulyani Indrawati ingin kerja keras tim yang dilakukan para pimpinan dan seluruh pegawai Direktorat Jenderal Pajak (DJP) untuk mensukseskan program pengampunan pajak tahap I, mampu memperbaiki citra instansi tersebut di mata masyarakat.</p>

				<p>Mantan Direktur Pelaksana Bank Dunia mengaku melihat dengan mata kepalanya sendiri, bagaimana para petugas pajak telah bekerja dengan sangat antusias dari pagi, siang, malam hingga dini hari sejak 1 Juli sampai 30 September 2016, atau selama periode I tax amnesty.</p>

				<p>Kerja keras tersebut secara terus-menerus dilakukan secara bergantian, dan semua pejabat DJP juga ikut terjun menangani antusiasme masyarakat yang membludak ingin mendapatkan pengampunan pajak dari pemerintah.</p>

				<p>“Mereka melayani dengan penuh kesabaran, perhatian, senyum, semangat membantu, dan semangat untuk menunjukkan bahwa DJP adalah lembaga yang bisa dipercaya, disegani, dan dihormati oleh rakyat,” kata Sri Mulyani dikutip dari laman Sekretariat Kabinet, Senin (3/10).</p>

				<p>Ani, sapaan akrabnya, berharap pencapaian tahap I tax amnesty ditambah dengan perhatian serta dukungan rakyat, Presiden, dan seluruh stakeholder pajak, dapat menjadi modal berharga bagi DJP untuk membangun, mereformasi dan memperbaiki DJP agar semakin baik dan makin dipercaya sebagai tulang punggung ekonomi Indonesia.</p>

				<p>“Selamat sekali lagi atas capaian tahap pertama Pengampunan Pajak, dan kerja tim yang sangat baik,” lanjut Sri Mulyani.</p>

				<p>Dikutip dari dashboard amnesti pajak, sampai berakhirnya periode I amnesti, total uang tebusan yang diterima pemerintah mencapai Rp89,14 triliun. Sementara jumlah harta yang dideklarasikan 366.769 Wajib Pajak (WP) pemohon amnesti mencapai Rp3.621 triliun. Di mana sebesar Rp137,08 triliun diantaranya merupakan aset yang direpatriasi ke dalam negeri.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="comment">
				<strong>Most Commented Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="/ahok">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="/jalanan">Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami</a></li>
					<li><a href="/sri">Sri Mulyani Ingin Tax Amnesty Ubah Citra Ditjen Pajak</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="view">
				<strong>Most Viewed Posts</strong>
				<ul class="nav nav-stacked">
					<li><a href="/ahok">Ahok Bakal Cabut Videotron di Jakarta</a></li>
					<li><a href="/gojek">Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan</a></li>
					<li><a href="/saling">Saling Lontar 'Serangan Udara' Para Bakal Calon Gubernur DKI</a></li>
				</ul>
			</div>
		</div>
		<hr/>
	</div>
</section>

<section class="comment-section">
	<div class="container">
		<div class="col-sm-8">
			<form>
				<div class="form-group">
				  <label for="input_comment">Write a comment</label>
				  <input type="text" class="form-control" placeholder="Your comment here.." id="input_comment">
				</div>
				<div class="input-group">
					<button class="btn btn-default" aria-describedby="basic-addon1">Add a comment</button>
				</div>
			</form>
		</div>
		<div class="col-sm-8">
		<div class="comment">
		  <div class="commentator">
			kucing_tetangga
			</div>
			<p>semoga kasus korupsi segera tuntas</p>
		</div>
		<div class="comment">
		<div class="commentator">indro_dki</div>
		<p>gagal pertamax gan!</p>
		</div>
	</div>
</section>

<footer class="footer">
  <div class="container">
  	<div class="col-sm-12">
    	<address>
      	<strong>CLEAN BLOG <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
        Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
        (123) 456-7890 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
        <a href="mailto:#">clean-blog@clean-blog.com </a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    	</address>
  	</div>
	</div>
</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
